@font-face {
    font-family: IBM Plex Sans;
    src: url(../font/IBMPlexSans.ttf);
}
@font-face {
    font-family: Caveat Bold;
    src: url(../font/Caveat-Bold.ttf);
}
body{
    font-family: "IBM Plex Sans";
}
.col-left{
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.col-right{
    color: #fff;
    background-color: #383842;
    padding-top: 50px;
}
.bg-site{
    background-color: #f2f2f2;
}
.login_link{
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}
.active{
    background-color: #c61f3d;
}
.btn_post{
    background-color: #c61f3d;
    border:none;
    color: #fff;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.intro_service{
    margin-top: 40px;
}
.col-left h2{
    color: #3c3c3c;
    text-align: center;
    font-size: 25px;
}
.col-left p{
    color: #3c3c3c;
}
p.signature{
    margin-bottom: 0px;
    font-size: 18px;
}
.signature{
    font-family: Caveat Bold;
}
.no-padding{
    padding: 0px;
}
.wrap_icon_action{
    line-height: 3;
}
.wrap_icon_action a{
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #c61f3d;
}
.wrap_icon_action i{
    position: relative;
    left: 2px;
    width: 16px;
    height: 16px;
}
a.page-link{
    background-color: transparent;
    color: #fff;
    border: none;
}
li.page-item a:hover{
    background-color: transparent;
    color: #fff;
}
li.page-item a.active{
    background-color: #c61f3d;
    border-radius: 50%;
}
.item_msg{
    padding-right: 60px;
    padding-left: 60px;
}
.item_msg:nth-child(odd) {
    padding-right: 75px;
}
.item_msg:nth-child(even) {
    padding-left: 75px;
}
.item_msg:nth-child(n+3){
    margin-top: 50px;
}
.wrap_paging{
    margin-top: 100px;
    margin-bottom: 20px;
}
i.fas.fa-trash{
    width: 17px;
    left: 0px;
}
.modal-header{
    padding: 5px;
}
h4.modal-title{
    font-size: 18px;
}
.modal-footer{
    padding: 5px;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
.page-item{
    cursor: pointer;
}
button{
    cursor: pointer;
}
span.blue_line{
    color: #007bff !important;
    text-decoration: underline !important;
}
a.blue_line{
    color: #007bff !important;
    text-decoration: underline !important;
}
.dn{
    display: none;
}
.col-left img{
    width:100%;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    .col-left{
        padding: 5px;
    }
    .item_msg{
        padding: 5px !important;
        padding-top: 20px !important;
    }
    .item_msg:nth-child(n+3){
        margin-top: 20px !important;
    }
    .wrap_icon_action {
        text-align: right;
        padding-right: 10px;
    }
    i.fas.fa-trash{
        left: -3px;
    }
    button.btn_post{
        margin-bottom: 50px;
    }
    .wrap_paging{
        margin-top: 20px;
    }
    hr.col-sm-6{
        width: auto;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .col-left{
        padding: 5px;
        padding-top: 50px;	
    }
    img.mx-auto.d-block{
        width: 170px;
    }
    .item_msg{
        padding: 0px;
    }
    .item_msg:nth-child(odd) {
        padding-right: 10px;
    }
    .item_msg:nth-child(even) {
        padding-left: 10px;
    }

}
@media (min-width: 576px) and (max-width: 1024px){
    .item_msg{
        padding: 0px;
    }
    .item_msg:nth-child(odd) {
        padding-right: 10px;
    }
    .item_msg:nth-child(even) {
        padding-left: 10px;
    }
    .col-left{
        padding-left: 10px;
        padding-right: 10px;
    }
}